html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

textarea {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
background-color: #fcfdff;
background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  line-height: 1;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

h2 {
  font-weight: 800;
  font-size: 1.8em;
  text-align: center;
  margin: 0 0 40px;
}

h3 {
  font-weight: 800;
  font-size: 1.6em;
  text-align: center;
  margin: 0 0 40px;
}

/*.form {
  min-height: calc(100vh - 260px);
}*/

.text a{
  color: grey;
}

.container {
  margin: 0 auto;
  white-space: nowrap;
  padding-top: 80px;
  padding-bottom: 20px;
  max-width: 1200px;
  position: relative;
  min-height: calc(100vh - 260px);
}

.container-capture, .container-gallery{
  width: 50%;
}


.container-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-flex-between{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* header #3498db */
header {
  width: 100%;
  height: 80px;
  background: #3498db; }

.nav {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .nav li {
    line-height: 1.42857143;
    padding: 0 15px;
    font-size: 17px;
    cursor: pointer; }
    .nav li a {
      color: white;
      text-decoration: none; }
  .nav li:first-child {
    flex-grow: 1; }

/* error manager */
.error-manager {
  position: absolute;
  border: 1px solid #D63301;
  border-radius: 3px;
  color: #D63301;
    background-color: #FFCCBA;
    padding: 20px;
    top: 7%;
    left: 25%;
}

.success-manager{
  position: absolute;
  border: 1px solid #4F8A10;
  border-radius: 3px;
  color: #4F8A10;
    background-color: #DFF2BF;
    padding: 20px;
    top: 7%;
    left: 25%;
}

.error {
  border: 1px solid #D63301;
  border-radius: 3px;
  color: #D63301;
    background-color: #FFCCBA;
    padding: 20px;
    top: 7%;
    left: 25%;
}


/* footer */
footer {
  width: 100%;
  height: 80px;
  color: white;
  background: #3498db; }
  footer p {
    padding: 10px 0;
    text-align: center; }

.faq a {
  color: white;
  font-size: 12px; }

/* blue */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

#login-form {
  width: 100%; }
  #login-form p {
    color: gray;
    width: 200px;
    margin: 0 auto; }
    #login-form p span {
      cursor: pointer;
      text-decoration: underline; }
      #login-form p span a {
        color: gray; }

.form-group {
  max-width: 300px;
  margin: 20px auto; }

.form-control, .form-control-text {
  display: block;
  width: 100%;
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

  .form-control-text {
    min-height: 100px;}

.btn {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto; }

.btn-primary {
  color: #fff;
  background-color: #3498db;
  border-color: #2e6da4;
  min-width: 100px;
  margin: 20px auto; }

/* errors msg */
.error {
  display: block;
  text-align: center;
  color: red; }

.msg {
  display: block;
  text-align: center;
  font-size: 1.6em; }

.label-secondary {
  color: gray;
  font-size: 85%; }

/* profile */
.container-left, .container-right {
  min-width: 400px;
  display:inline-block;
  white-space: normal;
  margin-bottom: 60px;
}

.avatar {
  border-radius: 50%;
  display: block;
  margin: 30px auto;
}

.panel-title {
  margin-bottom: 20px;
}

/* img uploader */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.editor-uploader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    margin: 0 auto;
    color: #ccc;
    font-size: 26px;
    cursor: pointer;
    position: relative;
}

#upload-preview {
  min-width: 500px;
  max-width: 100%;
  max-height: 100%;
  z-index: 2;
}

.camera-container {
  display: none;
}

#video, #canvas {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: auto;
}

.editor-uploader-inner {
    position: absolute;
    top: 5px;
}

.editor-uploader .fa-picture-o {
    display: block;
    font-size: 6em;
}

.editor-uploader .fa-plus {
    position: absolute;
    top: 0;
    right: -1em;
    font-size: 2em;
}

.editor-uploader input[type="file"] {
    display: none;
}

.img-action {
  display: flex;
}

.canvas-container {
  display: none;
}

.gallery-list, .filter-list {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.gallery-list{
  flex-wrap: wrap;
}

.filter-list li {
  position: relative;
}

.filter-list img {
  width: 130px;
  height: 100px;
}

.filter-list img.chosen {
  padding: 5px;
  border: 4px solid #ccc;
  opacity: 1;
}

.filter-list img.faded {
  opacity: 0.3;
}

.fa-check {
  color: green;
  position: absolute;
  left: 10;
  bottom: 10;
}

.hidden {
  display: none;
}

/*thumb gallery */
img.thumb{
  width: 130px;
  height: 100px;
}

/* post */

.post {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  max-width: 600px;
  margin: 0 auto 60px;
}

.post-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.post-comment-header{
    padding: 0 10px;
    display: flex;
  justify-content: flex-start;
  align-items: center;
}


.post-header-username{
  font-weight: 600;
  padding: 10px;
}

.post-header .post-header-timestamp {
  margin-left: auto;
  color: gray;
}

.post-img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.post-header-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.post-comment-header-avatar{
    border-radius: 50%;
  height: 25px;
  width: 25px;
}

.post-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.post-footer .fa-trash-o, .fa-heart-o, .fa-comment-o, .fa-heart {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.caption>p{
    font-weight: 500;
    max-width: 420px;
    padding: 20px;
}

.fa-heart{
  color: #ff3232;
}

.post-comment textarea, .canvas-container textarea {
    font-size: 14px;
    padding: 5px;
    display: block;
    margin: 0px auto;
    width: 90%;
    height: 30px;
    border: none;
    border-top: 1px solid #ccc;
    resize: none;
}

.canvas-container textarea {
  width: 85%;
  border-bottom: 1px solid #ccc;
  margin-top: 1px;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.delete-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    height: 150px;
}

.delete-modal-content>p{
  margin: 20px 0 0;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

.delete-modal-content-btn{
  display: flex;
}

.close {
    color: #aaa;
    float: right;
    margin-top: -10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.post-footer-events {
  margin: 0 25px;
}

.section-comments{
  margin-bottom: 20px;
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination>a{
  text-align: center;
  font-size: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #222;
  border: 2px solid #3498db;
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  text-decoration: none;
  border-radius: 50%;
  font-weight: 700;
  margin: 3px;
}

.pagination>a:hover{
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}

/* Page 404 */
/*body{
    background: #33cc99;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    max-height:700px;
    overflow: hidden;
}*/

.c{
    text-align: center;
    display: block;
    position: relative;
    width:80%;
    margin:100px auto;
}
._404{
    font-size: 220px;
    position: relative;
    display: inline-block;
    z-index: 2;
    height: 250px;
    letter-spacing: 15px;
}
._1{
    text-align:center;
    display:block;
    position:relative;
    letter-spacing: 12px;
    font-size: 4em;
    line-height: 80%;
}
._2{
    padding: 20px 0;
    text-align:center;
    display:block;
    position: relative;
    font-size: 20px;
}

.btn-back{
    background-color: rgb( 255, 255, 255 );
    border: 1px solid #3498db;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    width: 358px;
    padding: 5px;
    z-index: 5;
    font-size: 25px;
    margin:0 auto;
    color:#3498db;
    text-decoration: none;
    margin-right: 10px
}
.right{
    float:right;
    width:60%;
}

hr{
    padding: 0;
    border: none;
    border-top: 5px solid #3498db;
    color: #3498db;
    text-align: center;
    margin: 30px auto;
    width: 420px;
    height:10px;
    z-index: -10;
}

hr:after {
    content: "\2022";
    display: inline-block;
    position: relative;
    top: -0.75em;
    font-size: 2em;
    padding: 0 0.2em;
    background: #3498db;
}



@media screen and (max-width: 700px) {
  .nav li {
    font-size: 14px;
    padding: 0 10px;
  }
  .container-flex {
    justify-content: center;
  }

  .container-capture, .container-gallery{
    width: 100%;
  }
}

